<table id="example1" class="table table-bordered table-striped">
  <thead>
  <tr class="col">
    <th>No.</th>
    <th>Nama Lengkap</th>
    <th>NIS/NIM</th>
    <th>Asal Sekolah/Kampus</th>
    <th>Mulai Penempatan</th>
    <th>Selesai Penempatan</th>
    <th>Bidang Kegiatan</th>
    <th>Supervisor</th>
    <th>Aksi</th>
  </tr>
  </thead>
  <tbody>
    <% penempatan.forEach((e, i) => {i++ %>
      <tr class="col">
        <td><%= i %></td>
        <td class="text-bold"><%= e.peserta.name %></td>
        <td><%= e.peserta.nim %></td>
        <td><%= e.peserta.instansi %></td>
        <td><%= tglFormat(e.tglmulai_penempatan) %></td>
        <td><%= tglFormat(e.tglselesai_penempatan) %></td>
        <td><%= e.biro.nama %></td>
        <td><%= e.supervisor.nama %></td>
        <td>
          <form action="/penempatan/delete/<%= e.id %>?_method=DELETE" method="post">
            <a href="/penempatan/detail/<%= e.id %>" class="btn btn-default btn-sm">
              detail
            </a>
            <% if(Date.now() >= e.tglselesai) {%>
              <button class="btn btn-danger btn-sm disabled">
                Hapus
              </button>
            <% }else { %>
              <button class="btn btn-danger btn-sm">
                Hapus
              </button>
            <% } %> 
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>