<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Sertifikat</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/sertifikat">Sertifikat</a></li>
            <li class="breadcrumb-item active">Menampilkan data </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- /.card-header -->
          <div class="card-body">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Lihat Data Peserta</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                  <% if (peserta.sertifikat.noSertifikat === '13/000/SRT/INFO/KOMINFO') { %>
                    <div class="form-group" hidden>
                      <label for="name">Nomor Sertifikat :</label>
                      <input type="text" name="name" class=" form-control" id="name"
                        placeholder="Masukkan nama peserta..." disabled="disabled" >
                    </div>
                  <% } else { %>
                      <div class="form-group hidden">
                        <label for="name">Nomor Sertifikat :</label>
                        <input type="text" name="name" class=" form-control" id="name"
                          value="<%= peserta.sertifikat.noSertifikat %>" disabled="disabled">
                      </div>
                      <hr>
                  <% } %>
                  
                  <div class="form-group">
                    <label for="name">Nama Peserta :</label>
                    <input type="text" name="name" class=" form-control" id="name"
                      value="<%= peserta.name %>" disabled="disabled">
                  </div>
                  <div class="form-group">
                    <label for="nim">No. Induk Siswa/Mahasiswa :</label>
                    <input type="text" name="nim" class=" form-control" id="nim"
                      value="<%= peserta.nim %>" disabled="disabled">
                  </div>
                  <div class="form-group">
                    <label for="instansi">Instansi/ Asal Sekolah :</label>
                    <input type="text" name="instansi" class=" form-control" id="instansi"
                      value="<%= peserta.instansi %>" disabled="disabled">
                  </div>
                  <div class="form-group">
                    <label for="jurusan">Jurusan :</label>
                    <input type="text" name="jurusan" class=" form-control" id="jurusan"
                      value="<%= peserta.jurusan %>" disabled="disabled" >
                  </div>
                  <div class="form-group">
                    <label for="email">E-mail :</label>
                    <input type="email" name="email" class=" form-control" id="email"
                      value="<%= peserta.email %>" disabled="disabled">
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Tanggal Mulai :</label>
                          <div class="input-group date" id="reservationdate" data-target-input="nearest">
                              <input type="text" name="tglmulai" id="tglmulai" class="form-control datetimepicker-input" 
                                data-target="#reservationdate" value="<%= tglFormatForm(peserta.tglmulai) %>" disabled="disabled"/>
                              <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Tanggal Selesai :</label>
                          <div class="input-group date" id="reservationdate1" data-target-input="nearest">
                              <input type="text" name="tglselesai" id="tglselesai" class="form-control datetimepicker-input" 
                                data-target="#reservationdate" value="<%= tglFormatForm(peserta.tglselesai) %>" disabled="disabled"/>
                              <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label>Penempatan Bidang Kegiatan :</label>
                    <div class="row">
                    <% penempatan.forEach(e => { %>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                          <div class="card">
                            <div class="card-body">
                              <p class="card-text font-italic"><%= tglFormatSertif(e.tglmulai) %>  - <%= tglFormatSertif(e.tglselesai) %></p>
                              <p class="card-title text-bold mb-1 text-uppercase">Bidang <%= e.biro.nama %></p>
                              <p class="card-text"><u><%= e.supervisor.nama %></u><br> NIP. <%= nipFormat(e.supervisor.nip) %></p>
                            </div>
                          </div>
                        </div>
                        <% }) %>
                      </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="pembina">Pembina :</label>
                    <% if (peserta.sertifikat.pembina.id !== undefined) { %>
                      <input type="email" name="pembina" class=" form-control" id="pembina"
                          value="<%= peserta.sertifikat.pembina.name %>" disabled="disabled">
                    <% } else { %>
                      <input type="email" name="pembina" class=" form-control" id="pembina"
                            placeholder="pilih pembina" disabled="disabled">
                    <% } %> 
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="nilai">Nilai Magang :</label>
                    <input type="text" name="instansi" class=" form-control" id="instansi"
                      placeholder="Baik"disabled="disabled">
                  </div>
                </div>
                <div class="card-footer">
                  <a href="/sertifikat" class="btn btn-default">Kembali</a>
                </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>