<table id="example1" class="table table-bordered table-striped">
  <thead>
  <tr class="col">
    <th>No.</th>
    <th>Nama Lengkap</th>
    <th>NIS/NIM</th>
    <th>Asal Sekolah/Kampus</th>
    <th>Mulai Magang</th>
    <th>Selesai Magang</th>
    <th>Aksi</th>
  </tr>
  </thead>
  <tbody>
    <% peserta.forEach((peserta, i) => { i++ %>
      <tr class="col">
        <td><%= i %></td>
        <td class="text-bold"><%= peserta?.name ?? '-' %></td>
        <td><%= peserta?.nim ?? '-' %></td>
        <td><%= peserta?.instansi ?? '-' %></td>
        <td><%= tglFormat(peserta?.tglmulai) ?? '-' %></td>
        <td><%= tglFormat(peserta?.tglselesai) ?? '-' %></td>
        <td>
          <% if (peserta.sertifikat.status === 'N') { %>
            <% if (Date.now() <= peserta.tglselesai ) { %>
              <a href="/sertifikat/create/<%= peserta.id %>" class="btn  btn-primary btn-sm disabled">
                Buat Sertifikat
              </a>
              <a href="/sertifikat/read/<%= peserta.id %>" class="btn  btn-default btn-sm">
                Tampilkan Data
              </a>
            <% } else {%>
              <a href="/sertifikat/create/<%= peserta.id %>" class="btn  btn-primary btn-sm" >
                Buat Sertifikat
              </a>
              <a href="/sertifikat/read/<%= peserta.id %>" class="btn  btn-default btn-sm">
                Tampilkan Data
              </a>
            <% } %> 
          <% } else { %>
            <a href="/sertifikat/print/<%= peserta.id %>" class="btn  btn-success btn-sm">
              Cetak Sertifikat
            </a>
            <a href="/sertifikat/read/<%= peserta.id %>" class="btn  btn-default btn-sm">
              Tampilkan Data
            </a>
          <% } %>
          
        </td>
      </tr>
    <% }) %> 
  </tbody>
</table>